.layout {
  height: 100vh;
  .sider {
    position: relative;
    .collapsed-btn {
      position: absolute;
      bottom: 12px;
      right: 12px;
      cursor: pointer;
      padding: 0 4px;
      &:hover {
        background-color: var(--color-fill-3);
      }
    }
  }
}
